<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="iveypanel" translate="label" sortOrder="10">
            <label>Ivey</label>
        </tab>
        <section id="flickr" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Flickr</label>
            <tab>iveypanel</tab>
            <resource>Ivey_Flickr::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="consumerkey" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Consumer Key</label>
                </field>
                <field id="consumersecret" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Consumer Secret</label>
                </field>
                <field id="blogname" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blog Name</label>
                </field>
                <field id="postlimit" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Post Limit</label>
                </field>
            </group>
        </section>
    </system>
</config>